<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eads.co.nomad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eads.co.nomad.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eads.co.nomad.MenuApp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.eads.co.nomad.AMM"
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name="JobCard"
            android:label="@string/app_name">
        </activity>
        <activity android:name="Testlistview"></activity>
    </application>

</manifest>
