body {
	background-color: #fdf6e3; 
	font-size: 22px;
	color: black;
}

#warning{
	color: #dc322f;
}

#caution{
	color: yellow;
}


a{
    color: #268bd2;
}

#number{
    color: #cb4b16;
}